<app-nobs-header text="MYOBS.MYOBS"></app-nobs-header>

<ion-content padding>
  <div class="search-sort">
    <ion-button expand="full" color="light" (click)="toggleSearchCriteria()">
      <div class="flex-button">
        &nbsp;
        <span>{{ 'MYOBS.SEARCHCR' | translate }}</span>
        <ion-icon [name]="searchIcon"></ion-icon>
      </div>
    </ion-button>

    <div [hidden]="!searchCriteriaOpen" class="search-sort-criteria">
      <ion-item>
        <app-observation-type-entry *ngIf="searchObservationType" [observationType]="searchObservationType"></app-observation-type-entry>
        <ion-button (click)="openTypeModal()">{{ 'NEWOBS.SELECTTYPE' | translate }}</ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'MYOBS.STARTDATE' | translate }}</ion-label>
        <ion-datetime
          displayFormat="D.M.YYYY HH:mm"
          [(ngModel)]="searchStartDateString"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ 'MYOBS.ENDDATE' | translate }}</ion-label>
        <ion-datetime
          displayFormat="D.M.YYYY HH:mm"
          [(ngModel)]="searchEndDateString"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-button (click)="search()">{{ 'MYOBS.SEARCH' | translate }}</ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="showAll()">{{ 'MYOBS.SHOWALL' | translate }}</ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="resetForm()">{{ 'MYOBS.RESET' | translate }}</ion-button>
      </ion-item>
    </div>
  </div>

  <div class="search-sort">
    <ion-button expand="full" color="light" (click)="toggleSortCriteria()">
      <div class="flex-button">
        &nbsp;
        <span>{{ 'MYOBS.SORTCR' | translate }}</span>
        <ion-icon [name]="sortIcon"></ion-icon>
      </div>
    </ion-button>

    <div [hidden]="!sortCriteriaOpen" class="search-sort-criteria">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{ 'MYOBS.SORTBY' | translate }}</ion-label>
          <ion-select [(ngModel)]="sortBy">
            <ion-select-option [value]="SORT_BY_TITLE">{{ 'MYOBS.TITLE' | translate }}</ion-select-option>
            <ion-select-option [value]="SORT_BY_TYPE">{{ 'MYOBS.TYPE' | translate }}</ion-select-option>
            <ion-select-option [value]="SORT_BY_DATE">{{ 'MYOBS.DATE' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{ 'MYOBS.ORDER' | translate }}</ion-label>
          <ion-select [(ngModel)]="sortOrder">
            <ion-select-option [value]="SORT_ASCENDING">{{ 'MYOBS.ASCENDING' | translate }}</ion-select-option>
            <ion-select-option [value]="SORT_DESCENDING">{{ 'MYOBS.DESCENDING' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <p *ngIf="observations && observations.length === 0">{{ 'MYOBS.NOOBS' | translate }}</p>

  <ion-list lines="none">
    <ion-item *ngFor="let observation of observations">
      <app-observation-card [observation]="observation"></app-observation-card>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
