<app-nobs-header [text]="'NEWOBS.SELECTTYPE' | translate"></app-nobs-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedTypeName">
      <ion-item *ngFor="let observationType of observationTypes">
        <ion-avatar slot="start">
          <img [src]="observationType.imageUrl" />
        </ion-avatar>
      <ion-label>{{ observationType.translationKey | translate }}</ion-label>
      <ion-radio slot="end" [value]="observationType.name"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="confirm()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="cancel()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
