<app-nobs-header [text]="title | translate"></app-nobs-header>

<ion-content>
  <div class="image-container">
    <div class="image-placeholder" *ngIf="!imgData">
      <ion-icon name="image"></ion-icon>
    </div>
    <img *ngIf="imageUrl" [src]="imageUrl" />
  </div>

  <div class="image-button-container">
    <ion-button (click)="takePicture()">{{ 'NEWOBS.TAKEPIC' | translate }}</ion-button>
    <ion-button (click)="takePicture('photoLibrary')">{{ 'NEWOBS.FILE' | translate }}</ion-button>
  </div>

  <ion-list *ngIf="observation">
    <ion-list-header>
      <ion-label>{{ 'NEWOBS.DESCR' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">{{ 'NEWOBS.TITLE' | translate }}</ion-label>
      <ion-input [(ngModel)]="observation.title" autocapitalize="on"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'NEWOBS.DESCR' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="observation.description" autocapitalize="on"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'NEWOBS.DATE' | translate }}</ion-label>
      <ion-datetime [(ngModel)]="time" displayFormat="D.M.YYYY HH:mm"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>{{ 'NEWOBS.TYPE' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <app-observation-type-entry *ngIf="observation.type" [observationType]="observation.type"></app-observation-type-entry>
    </ion-item>

    <ion-item>
      <ion-button (click)="openTypeModal()">{{ 'NEWOBS.SELECTTYPE' | translate }}</ion-button>
    </ion-item>

    <ion-list-header>{{ 'NEWOBS.LOCATION' | translate }}</ion-list-header>

    <ion-item *ngIf="mapLocation?.name">{{ mapLocation.name }}</ion-item>

    <div ion-item>
      <div item-content #map id="map"></div>
    </div>

    <ion-item>
      <ion-button (click)="openMapModal()">{{ 'NEWOBS.PICKLOC' | translate }}</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="save()">{{ 'NEWOBS.SAVE' | translate }}</ion-button>
</ion-content>
