<app-nobs-header [text]="'VIEWOBS.OBS' | translate"></app-nobs-header>

<ion-content>
  <div class="flex">
   <img *ngIf="imgUrl" [src]="imgUrl" />
  </div>

  <ion-button expand="full">{{ 'VIEWOBS.EDIT' | translate }}</ion-button>

  <ion-list *ngIf="observation">
    <ion-list-header>
      <ion-label>{{ 'VIEWOBS.DESCR' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <b>{{ observation.title }}</b>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="observation.description">
      <ion-label>{{ observation.description }}</ion-label>
    </ion-item>

    <ion-list-header *ngIf="observation.type">
      <ion-label>{{ 'VIEWOBS.TYPE' | translate }}</ion-label>
    </ion-list-header>

    <ion-item *ngIf="observation.type">
      <app-observation-type-entry [observationType]="observation.type"></app-observation-type-entry>
    </ion-item>

    <ion-list-header *ngIf="observation.date">
      <ion-label>{{ 'VIEWOBS.DATE' | translate }}</ion-label>
    </ion-list-header>

    <ion-item *ngIf="observation.date">
      <ion-label>{{ formattedDate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
